* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* header */
header {
    height: auto;
    display: flex;
    background-color: #F4E4DC;
    align-items: center;
    gap: 3rem;
    font-size: 3rem;
}

.headerdiv {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    gap: 4rem;
}

.alogo {
    width: 30%;
    display: flex;
    justify-content: center;
}

.right {
    margin-right: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

/* footer */
footer {
    width: 100%;
}
.footer{
    background: #F4E4DC;
    height: 30rem;
    width: 100%;
    display: flex;
    padding: 5rem;
    gap: 2rem;
    justify-content: center;
}

.information{
    padding: 3rem 0;
}

.footerimg {
    height: 100%;
    width: auto;
    object-fit: contain;

}

.footerlogos {
    width: auto;
    display: flex;
    gap: .3rem;
}

.fa-brands{
    font-size: 2.5rem;
}

.icon{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.icon:hover {
    background-color: black;
    transition: 0.5s;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.signup>form {
    display: flex;
    flex-direction: column;
}

.signup-txt {
    font-size: 2rem;
}

.signup-email {
    width: 20rem;
    border: none;
    border-bottom: 1px black solid;
    background: #F4E4DC;
    padding: 1rem;
}

.signup-button {
    width: 20rem;
    background: black;
    color: white;
    font-size: 1.6rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-txt {
    display: flex;
    font-size: 3rem;
}


@media screen and (max-width: 70rem) {
    .kutjebef{
        padding: 2rem;
        gap: 1rem;
    }
    .footerimg {
        height: 50%;
        width: auto;
    
    }
    .signup{
        justify-content: center;
    }
    .signup-button {
        width: 10rem;
    }
    .signup-email {
        width: 10rem;

    }
    .signup-txt {
        font-size: 1rem;
    }
    .contact{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
}