.card--bottem-page {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(17, 2fr);
    grid-template-rows: repeat(15, 2fr);
    gap: 2rem;
}

.review--images {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}

.card--bottem-1 {
    grid-row: 1/12;
    grid-column: 2/7;
    background-color: #DEC4AF;
}

.reviewimg {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
}

.review--titel {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 1rem;
}

.review--stars {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.txt--review {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: white;
}


.card--bottem-2 {
    grid-row: 1/12;
    grid-column: 7/12;
    background-color: #DEC4AF;
}

.card--bottem-3 {
    grid-row: 1/12;
    grid-column: 12/17;
    background-color: #DEC4AF;
}

.reviews {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    font-size: 5rem;
    font-family: sans-serif;
}

@media screen and (max-width: 92.5rem) {

    .reviewimg {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
    }
}


@media screen and (max-width: 87.5rem) {

    .reviewimg {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }

}

@media screen and (max-width: 80.5rem) {
    .reviewimg {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }

}

@media screen and (max-width: 76.5rem) {

    .reviewimg {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }

    .review--titel {
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 1rem;
    }

    .review--stars {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .txt--review {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: white;
    }


    .reviews {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
        font-size: 4rem;
        font-family: sans-serif;
    }


}

@media screen and (max-width: 66.5rem) {

    .reviewimg {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }

    .txt--review {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: white;
    }

    .review--titel {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 1rem;
    }

    .review--stars {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .reviews {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
        font-size: 3.7rem;
        font-family: sans-serif;
    }
}

@media screen and (max-width: 60rem) {



    .reviewimg {
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
    }

    .review--titel {
        display: none;
    }

    .review--stars {
        font-size: 1rem;
    }

    .card--bottem-1 {
        grid-row: 1/6;
        grid-column: 2/17;
    }

    .card--bottem-2 {
        grid-row: 6/11;
        grid-column: 2/17;
    }

    .card--bottem-3 {
        grid-row: 11/16;
        grid-column: 2/17;
    }

}

