* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #F4E4DC;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    height: 100px;
    width: auto;
}


.thumbnail{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1{
    position: absolute;
    left: 5rem;
    top: 3rem;
    font-size: 4rem;
    color: white;
}

.box{
    position: relative;
}

.thumbnailButton{
    position: absolute;
    left: 6rem;
    top: 10rem;
    font-size: 4rem;
    color: white;
    background: #212121;
    border: none;
    font-size: 1.6rem;
    padding: 1.3rem 2rem 1.3rem 2rem;
}

